<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Color Palette Generator</title>
  <style>

  </style>
</head>

<body>
  <form id="form">
    <input type="text" name="query">
    <button type="submit">Submit</button>
  </form>

  <script>
    const form = document.querySelector("#form")
    form.addEventListener("submit", (e) => {
      e.preventDefault()
      const query = form.elements.query.value
      fetch(`/palette`, {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        body: new URLSearchParams({ query })
      })
      .then(response => response.json())
      .then(colors => {
        console.log(colors);
      })
    })
  </script>
</body>

</html>